html, body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color:bisque;
  text-decoration: none;
}

.App {
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(5.06deg, #CCE4FA 19.38%, #DEE7F4 83.76%);
  min-height: 100vh;
}

/* HOT FIX */
.MuiTimelineOppositeContent-root{
  margin-right: 0 !important;
  padding:0 !important;
}